/* Defines styles for the react app */

*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

.square{
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.border-row:after{
    /* border: 1px solid red; */
    clear: both;
    content: '';
    display: table;
}